name: Build

# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
concurrency:
  group: "build"
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          path: "src"

      - name: Checkout builds
        uses: actions/checkout@master
        with:
          ref: "builds"
          path: "builds"

      - name: Checkout Aliucord
        uses: actions/checkout@master
        with:
          repository: "Aliucord/Aliucord"
          path: "repo"

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
          cache-dependency-path: |
            src/*.gradle*
            src/**/gradle-wrapper.properties
            src/**/libs.versions.toml
            src/plugins/**/build.gradle*

      # - name: Setup Gradle Cache
      #   uses: gradle/actions/setup-gradle@v4
      #   with:
      #     build-root-directory: src

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Plugins
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make generateUpdaterJson
          # cp **/build/outputs/*.zip $GITHUB_WORKSPACE/builds
          # cp build/updater.json $GITHUB_WORKSPACE/builds
          find . -path "*/build/outputs/*.zip" -exec cp {} $GITHUB_WORKSPACE/builds \;
          find . -path "*/build/updater.json" -exec cp {} $GITHUB_WORKSPACE/builds \;

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Build $GITHUB_SHA" || exit 0   # do not error if nothing to commit
          git push
